body { 
    font-family: arial, helvetica, sans-serif;
}

SPAN.justify {
    text-align: justify;
}

SPAN.center {
    text-align: center;
}

SPAN.red {
    color: red;
    background-color: white;
}

div.resaltado {
    background-color: #FFEEEE;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

